html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------------------------*/
/*header-------------------------------------------------------*/
header{
	width: 100%;
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	min-width: 1200px;
}
header > div{
	width: 1280px;
	height: 80px;
	display: flex;
	align-items: center;
	/*가운데로 정렬되면서 width, height만큼의 공간을 가짐*/
	gap: 44px;
}
header > div > :first-child{
	width: 125px;
	height: 43px;
	background-image: url(./coca.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
header > div > :first-child:hover{
	cursor: pointer;
}
header > div > :last-child{/*헤더의 ul*/
	display: flex;
	gap: 36px;
	font-size: 17px;
	font-weight: bold;
	color: rgb(75, 75, 75);
}
header > div > ul{

}
header > div > ul:hover{
	cursor: pointer;

}
.header-item{
	white-space: pre-wrap;
	/*스페이스 바 띄울 생각하지말고 마진으로 띄워야함*/
}
.header-item:not(:first-child):after{
	font-size: 14px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color:rgb(0, 0, 0)w;
	content: "〉";
}
.header-item::after:hover{
	cursor: pointer;
}


/**/
.header-item{
	display: flex;/*기호와 글자*/
	gap: 16px;
	align-items: flex-end;/*기호 줄맞춤*/
}

.header-item:hover::after{
	/*header-item에 호버할 때 header-item의 after*/
	transform: rotate(90deg);
	transition: 0.5s;
}

/*main-------------------------------------------------------*/
/*main 1-------------------------------------------------------*/

#button1{
	width: 280px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 16px;
	color: black;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
#button1:hover{
	cursor: pointer;
}
#button2{
	width: 280px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 16px;
	color: black;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	border: 2px solid #000000;
	font-size: 14px;
}
#button2:hover{
	cursor: pointer;
}
#button3{
	width: 280px;
	height: 40px;
	background-color: transparent;
	border-radius: 16px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	border: 2px solid #000000;
	font-size: 14px;
}
#button3:hover{
	cursor: pointer;
}

main{
	width: 100%;
	height: 2900px;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	min-width: 1200px;

}



main > :first-child{
	margin-top: 32px;
}

main > :first-child > :first-child{
	margin: auto;
	width: 1300px;
	height: 600px;
	border-radius: 20px;
	background: linear-gradient(to right,rgba(0, 0, 0, 0.686),rgba(255,0,0,0)), url(./tree.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main > :first-child > :first-child > :first-child{
	margin: auto;
	width: 1120px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	color: #fff;
}
main > :first-child > :first-child > :first-child > :first-child{
	font-size: 24px;
}
main > :first-child > :first-child > :first-child > :last-child{
	font-size: 14px;
}
/*main 2-------------------------------------------------------*/
main > :nth-child(2){
	margin: 40px auto;
	width: 1120px;
	height: 592px;
	display: flex;
	position: relative;
}

main > :nth-child(2) > :first-child{
	margin: auto 40px;
	width: 576px;
	height: 552px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-all;
	z-index: 2;
	position: absolute;
}
main > :nth-child(2) > :first-child > :first-child{
	margin: auto auto;

}


#section2-item{
	width: 416px;
	height: 350px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#section2-item > h2{
	font-size: 24px;
	font-weight: bold;
}
#section2-item > :last-child{
	font-size: 16px;
	width: 416px;
	height: 104px;
	line-height: 24px;
}

main > :nth-child(2) > :last-child{
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-radius: 20px;
	width: 640px;
	height: 512px;
	background-image: url(./grass.jpg);
	background-size: cover;
	z-index: 1;/*수치가 높을 수록 위에 쌓임*/
}


/*main 3-------------------------------------------------------*/
main > :nth-child(3){
	margin: 40px auto;
	width: 1120px;
	height: 592px;
	display: flex;
	position: relative;
}

main > :nth-child(3) > :first-child{
	margin: auto auto;
	border-radius: 20px;
	width: 640px;
	height: 480px;
	background-image: url(./qwer.jpg);
	background-size: contain;
	z-index: 4;/*수치가 높을 수록 위에 쌓임*/
	position: absolute;
    bottom: 0;
}
main > :nth-child(3) > :last-child > :first-child{
	margin: auto auto;

}


#section3-item{
	width: 416px;
	height: 350px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#section3-item > h2{
	font-size: 24px;
	font-weight: bold;
}
#section3-item > :last-child{
	font-size: 16px;
	width: 416px;
	height: 104px;
	line-height: 24px;
}


main > :nth-child(3) > :last-child{
	position: absolute;
    right: 0;
    z-index: 4;
	width: 576px;
	height: 552px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-break: break-all;
}
/*main 4-------------------------------------------------------*/
main > :nth-child(4){
	margin: 40px auto;
	display: flex;
	gap: 24px;
	flex-direction: column;
	align-items: center;
}
main > :nth-child(4) > h3{
	text-align: center;
	font-size: 38px;
	font-weight: bold;
}
main > :nth-child(4) > :nth-child(2){
	width: 864px;
	height: 576px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
main > :nth-child(4) > :nth-child(2) > :first-child{
	width: 864px;
	height: 238px;
	display: flex;
	justify-content: space-between;
}
.section4-item{
	margin: auto auto;
	width: 256px;
	height: 256px;
	border-radius: 20px;
	background-color: #fff;
	background-image: url(./sprite.jpg);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}
main > :nth-child(4) > :nth-child(2) > :last-child{
	width: 864px;
	height: 238px;
	display: flex;
	justify-content: space-between;
}

/*footer-------------------------------------------------------*/
footer{
	width: 100%;
	height: 548px;
	background-color: #000000;
}
footer > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer > div > :first-child{
	width: 1152px;
	height: 80px;
	background-color: transparent;
	border-bottom: 1px solid #fff;
}
footer > div > :nth-child(2){
	background-color: transparent;

	width: 1152px;
	height: 128px;
	border-bottom: 1px solid #fff;

}

footer > p{
	line-height: 80px;
	color: #ffffff;
	text-align: center;
}